<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/qanda.css">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="https://fluentthemes.com/wp/knowledge/xmlrpc.php">
<link rel="stylesheet" href="/./q&a/q&a.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118794610-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118794610-1');
</script>

<title> Q/A </title>
<meta name='robots' content='noindex,follow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel='dns-prefetch' href='//fonts.gstatic.com' />
<link rel="alternate" type="application/rss+xml" title="Knowledge Q/A Theme &raquo; Feed" href="https://fluentthemes.com/wp/knowledge/feed/" />
<link rel="alternate" type="application/rss+xml" title="Knowledge Q/A Theme &raquo; Comments Feed" href="https://fluentthemes.com/wp/knowledge/comments/feed/" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='droidarabickufi-css'  href='https://fonts.googleapis.com/css?family=Droid+Arabic+Kufi%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='merriweather-css'  href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C300i%2C400%2C400i%2C700%2C700i&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-base-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/base.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-lists-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/lists.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='prettyPhoto-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/prettyPhoto.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-font_awesome_old-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/font-awesome-old/css/font-awesome.min.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/font-awesome/css/font-awesome.min.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='fontello-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/fontello/css/fontello.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-stylesheet-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-responsive-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/responsive.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter-custom-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/custom.css?ver=4.9.10' type='text/css' media='all' />
<style id='infocenter-custom-inline-css' type='text/css'>
.syntaxhighlighter {
    width: 100% !important;
    margin: 1em 0 1em 0 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 1em !important;
    padding: 1px !important;
background-color: white !important;
}



code{
    background: none !important;
    line-height: 1.1em !important;
    padding: 0 !important;
    width: auto !important;
    font-family: \"Consolas\", \"Bitstream Vera Sans Mono\", \"Courier New\", Courier, monospace !important;
    font-size: 1em !important;
    min-height: auto !important;
}
</style>
<link rel='stylesheet' id='bootstrap-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/bootstrap.css?ver=4.9.10' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='infocenter_style-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/more-style.css?ver=4.9.10' type='text/css' media='all' /> -->
<link rel='stylesheet' id='infocenter_owl_carosoul_style-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/owl.carousel.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_owl_style-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/owl.style.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_shCoreDefault-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/styles/shCoreDefault.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_animate-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/animate.min.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_dropdownhover-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/bootstrap-dropdownhover.min.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_select2-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/select2.min.css?ver=4.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='infocenter_et-line-fonts-css'  href='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/css/et-line-fonts.css?ver=4.9.10' type='text/css' media='all' />
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='https://fluentthemes.com/wp/knowledge/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://fluentthemes.com/wp/knowledge/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://fluentthemes.com/wp/knowledge/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.9.10" />
<link rel="canonical" href="https://fluentthemes.com/wp/knowledge/" />
<link rel='shortlink' href='https://fluentthemes.com/wp/knowledge/' />
<link rel="shortcut icon" href="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/favicon.png" type="image/x-icon">
<meta property="og:site_name" content="Knowledge Q/A Theme" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/logo-knowledge.png" />
    		        <meta property="og:title" content="Home" />
<meta property="og:url" content="https://fluentthemes.com/wp/knowledge/" />
<script data-no-minify="1" data-cfasync="false">(function(w,d){function a(){var b=d.createElement("script");b.async=!0;b.src="https://fluentthemes.com/wp/knowledge/wp-content/plugins/wp-rocket/inc/front/js/lazyload.1.0.5.min.js";var a=d.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)}w.attachEvent?w.attachEvent("onload",a):w.addEventListener("load",a,!1)})(window,document);</script></head>
<body  class="home page-template page-template-template-home page-template-template-home-php page page-id-13">
	<div class="background-cover"></div>
			<div class="loader"><div class="loader_html"></div></div>
		<!-- End lost-password -->
			<div id="wrap" class="  wrap-nicescroll">

								<div class="top-bar colorchange">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">

																<ul id="menu-left-top-bar" class="top-nav nav-left">
																	<li><a href="/profile">Profile</a></li>
																	<li><a href="/"> HomePage</a></li>

																</ul>

						</div><!-- End col-md-6 -->
						<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
																					<ul id="menu-not-login-top-bar" class="top-nav nav-right"><li id="nav-menu-item-100" class=" dropdown  menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom"><a href="/logOut"><i class="fa fa-lock" aria-hidden="true"></i>LogOut</a></li>

</ul>																				</div><!-- End col-md-6 -->
					</div><!-- End row -->
				</div><!-- End container -->
			</div><!-- End header-top -->
							<header id="header" class=''>
			<div class="container clearfix" itemscope="" itemtype="http://schema.org/Thing">
				<div class="logo">

				</div>
								<nav class="navigation">
					<!-- <div class="header-menu">
						<ul>
						<li id="menu-item-271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-271"><a href="https://fluentthemes.com/wp/knowledge/how-it-works/">How It Works</a></li>
<li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a href="http://fluentthemes.com/wp/knowledge/questions/">Browse Questions</a></li>
<li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-263"><a href="https://fluentthemes.com/wp/knowledge/blog-full-width/">Blog</a>
<ul class="sub-menu">
	<li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="https://fluentthemes.com/wp/knowledge/blog-full-width/">Blog Full Width</a></li>
	<li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a href="https://fluentthemes.com/wp/knowledge/blog-right-sidebar/">Blog Right Sidebar</a></li>
	<li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264"><a href="https://fluentthemes.com/wp/knowledge/blog-left-sidebar/">Blog Left Sidebar</a></li>
	<li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-267"><a href="https://fluentthemes.com/wp/knowledge/how-to-prevent-my-website-from-being-scrolled-horizontally-2/">Blog Details Page</a></li>
</ul>
</li>
<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-20"><a href="#">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-13 current_page_item menu-item-23"><a href="https://fluentthemes.com/wp/knowledge/">Home &#8211; Default Style</a></li>
	<li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307"><a href="http://fluentthemes.com/wp/knowledgebase/">Home &#8211; Help Desk Sylte</a></li>
	<li id="menu-item-221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-221"><a href="http://fluentthemes.com/wp/knowledge/questions/">Questions Page</a></li>
	<li id="menu-item-125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-125"><a href="http://fluentthemes.com/wp/knowledge/questions/bootstrap-fixed-sidebar-causes-main-content-to-overlap/">Question Detail</a></li>
	<li id="menu-item-220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a href="https://fluentthemes.com/wp/knowledge/add-question/">Add Question Page</a></li>
	<li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219"><a href="https://fluentthemes.com/wp/knowledge/sign-in-to-your-account/">Login Page</a></li>
	<li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="https://fluentthemes.com/wp/knowledge/users/">Users</a></li>
	<li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="https://fluentthemes.com/wp/knowledge/contact/">Contact Us</a></li>
	<li id="menu-item-270" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"><a href="https://fluentthemes.com/wp/knowledge/contact-with-map/">Contact With Map</a></li>
</ul>
</li>
																		<li class="menu-item-pq publish-question publish-question-widget"><a href="#ask-question">Post Question</a></li>
																		</ul>
					</div> -->
				</nav>
				<nav class="navigation_mobile navigation_mobile_main">
					<div class="navigation_mobile_click">Go to...</div>
					<ul></ul>
				</nav><!-- End navigation_mobile -->
							</div><!-- End container -->
		</header><!-- End header -->

							<div class="section-warp infocenter-infotex" style='background-image:url()'>
												<div class="container clearfix">
							<div class="box_icon box_warp box_no_border box_no_background">
								<div class="row">
																				<div class="col-md-12">
												<h2>HAVE A QUESTION?</h2>
												<p>If you have any question you can ask below or enter what you are looking for!</p>
												<div class="clearfix"></div>
																								<div class="clearfix"></div>
												<div>
																								<!-- #live-search -->
												<div id="live-search">
												<div id="search-wrap">
													<form role="search" method="Post" id="searchform" class="form-style form-style-2" action="/questions">
														<p>
														<input type="text"  value="Type your search terms here" name="question" id="s"  autocomplete="off" />
														<i class="live-search-loading fa fa-spinner fa-spin"></i>
														<button type="submit" id="searchsubmit" class="ask-question-new-class">
															<span class="color button small publish-question">Search</span>
														</button>
														</p>
													</form>
												</div>
												</div>
												<!-- #live-search -->
																								</div>
											</div>
																		</div><!-- End row -->
							</div><!-- End box_icon -->
						</div><!-- End container -->
					</div><!-- End section-warp -->
						<div class="container main-content page-full-width">
						<div class="row">
				<div class="with-sidebar-container">
										<div class="col-md-12">
												<div class="tabs-warp question-tab">
		    <!-- <div class="borderbottom">
			<ul class="tabs">
							<li class="tab"><a href="#" data-js="recent_questions"><i class="icofont icon-ribbon" aria-hidden="true"></i><span>Recent Questions</span></a></li>
							<li class="tab"><a href="#" data-js="most_responses"><i class="icofont icon-layers" aria-hidden="true"></i><span>Popular Questions</span></a></li>
							<li class="tab"><a href="#" data-js="recently_answered"><i class="icofont icon-global" aria-hidden="true"></i><span>Recent Responses</span></a></li>
							<li class="tab"><a href="#" data-js="no_answers"><i class="icofont icon-linegraph" aria-hidden="true"></i><span>Not Answered</span></a></li>
					    </ul>
			</div> -->




		    			    <div class="tab-inner-warp">
					<div class="tab-inner">
							<article class="question question-type-normal question_author_yes post-279 type-question status-publish hentry question-category-wordpress question_tags-php question_tags-wordpress" id="post-279" itemscope="" itemtype="http://schema.org/Article">

		<h2 itemprop="name"><a itemprop="url"  title="Php recursive function not working right" rel="bookmark">Php recursive function not working right</h2>



					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/emily/" data-original-title="Emily Cooper" class="question-author-img tooltip-n">
									<span></span>

				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2734 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/php/">php</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/wordpress/">wordpress</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 1">

						<div class="clearfix"></div>
		</div>
	</article>
	<article class="question question-type-normal question_author_yes post-278 type-question status-publish hentry question-category-html question_tags-design question_tags-html question_tags-jquery" id="post-278" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/how-to-automatically-generates-html-table-by-javascript/" title="How to automatically generates HTML table by JavaScript?" rel="bookmark">How to automatically generates HTML table by JavaScript?</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/how-to-automatically-generates-html-table-by-javascript/#comments">1 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">1</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/randy/" data-original-title="Randy Axy" class="question-author-img tooltip-n">
									<span></span>
					<img alt='Randy Axy' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/randy-image-1-83x83.jpg'>					</a>
										<span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2495 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/design/">design</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/html/">html</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/jquery/">jquery</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 1">

						<div class="clearfix"></div>
		</div>
	</article>
	<article class="question question-type-normal question_author_yes post-277 type-question status-publish hentry question-category-php question_tags-login question_tags-php" id="post-277" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/php-login-system-not-working-correctly/" title="Php login system not working correctly" rel="bookmark">Php login system not working correctly</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/php-login-system-not-working-correctly/#comments">2 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">1</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/umar/" data-original-title="Umar Amin" class="question-author-img tooltip-n">
									<span></span>
					<img alt='Umar Amin' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/umar-image-1-83x83.jpg'>					</a>
										<span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2559 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/login/">login</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/php/">php</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 2">

						<div class="clearfix"></div>
		</div>
	</article>
<div class="textcenter"><div class="pagination"><span class='page-numbers current'>1</span>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/2/'>2</a>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/3/'>3</a>
<a class="next page-numbers" href="https://fluentthemes.com/wp/knowledge/page/2/"><i class="icon-angle-right"></i></a></div></div>				    </div>
				</div>
							<div class="tab-inner-warp">
					<div class="tab-inner">
							<article class="question question-type-normal question_author_yes post-4 type-question status-publish hentry question-category-html question_tags-bootstrap question_tags-css question_tags-html" id="post-4" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/bootstrap-fixed-sidebar-causes-main-content-to-overlap/" title="Bootstrap fixed sidebar causes main content to overlap?" rel="bookmark">Bootstrap fixed sidebar causes main content to overlap?</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/bootstrap-fixed-sidebar-causes-main-content-to-overlap/#comments">2 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">1</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/reader87/" data-original-title="reader87" class="question-author-img tooltip-n">
									<span></span>
					<img alt='reader87' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/04/fancy-header01-83x83.jpg'>					</a>
										<span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>3006 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/bootstrap/">bootstrap</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/css/">css</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/html/">html</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 2">

						<div class="clearfix"></div>
		</div>
	</article>
	<article class="question question-type-normal question_author_yes post-277 type-question status-publish hentry question-category-php question_tags-login question_tags-php" id="post-277" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/php-login-system-not-working-correctly/" title="Php login system not working correctly" rel="bookmark">Php login system not working correctly</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/php-login-system-not-working-correctly/#comments">2 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">1</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/umar/" data-original-title="Umar Amin" class="question-author-img tooltip-n">
									<span></span>
					<img alt='Umar Amin' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/umar-image-1-83x83.jpg'>					</a>
										<span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2559 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/login/">login</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/php/">php</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 2">

						<div class="clearfix"></div>
		</div>
	</article>
	<article class="question question-type-normal question_author_yes post-25 type-question status-publish hentry question-category-css question_tags-bootstrap question_tags-material" id="post-25" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/choosing-bootstrap-vs-material-design/" title="Choosing bootstrap vs material design" rel="bookmark">Choosing bootstrap vs material design</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/choosing-bootstrap-vs-material-design/#comments">2 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">0</span>

					</span>

					<div class="question-author">
									<div class="question-author-img">
									<span></span>
					<img alt='' src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src='https://secure.gravatar.com/avatar/2081a9da3d0914881819f9034ee5127a?s=83&#038;d=mm&#038;r=g' data-lazy-srcset='https://secure.gravatar.com/avatar/2081a9da3d0914881819f9034ee5127a?s=166&#038;d=mm&#038;r=g 2x' class='avatar avatar-83 photo' height='83' width='83' /><noscript><img alt='' src='https://secure.gravatar.com/avatar/2081a9da3d0914881819f9034ee5127a?s=83&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/2081a9da3d0914881819f9034ee5127a?s=166&#038;d=mm&#038;r=g 2x' class='avatar avatar-83 photo' height='83' width='83' /></noscript>					</div>
							</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2251 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/bootstrap/">bootstrap</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/material/">material</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 2">

						<div class="clearfix"></div>
		</div>
	</article>
<div class="textcenter"><div class="pagination"><span class='page-numbers current'>1</span>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/2/'>2</a>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/3/'>3</a>
<a class="next page-numbers" href="https://fluentthemes.com/wp/knowledge/page/2/"><i class="icon-angle-right"></i></a></div></div>				    </div>
				</div>
							<div class="tab-inner-warp">
					<div class="tab-inner">
													<div id="commentlist" class="page-content">
								<ol class="commentlist clearfix">
									<li rel="posts-278" class="comment" id="comment-11">
	<div class="comment-body clearfix" rel="post-278">
		<div class="avatar-img">
			<img alt='Umar Amin' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/umar-image-1-65x65.jpg'>		</div>
		<div class="comment-text">
		    <div class="author clearfix">
		    	<div class="comment-author">
		    		    		    		<a href="https://fluentthemes.com/wp/knowledge/author/">
    		    	Umar Amin    		    		</a>
    		    				    	</div>
		    				    	<div class="comment-vote">
			        	<ul class="single-question-vote">
			        					        			<li class="loader_3"></li>
			        			<li><a href="#" class="single-question-vote-up comment_vote_up vote_not_user" title="Like"><i class="icon-thumbs-up"></i></a></li>
			        			<li><a href="#" class="single-question-vote-down comment_vote_down vote_not_user" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
			        					        	</ul>
			    	</div>
			    	<span class="question-vote-result question_vote_result ">0</span>
		    			    	<div class="comment-meta">
		            <div class="date"><i class="icon-time"></i>February 26, 2017 at 4:15 am</div>
		        </div>
		        <div class="comment-reply">
		            		            	<a class="question_r_l comment_l report_c" href="#"><i class="icon-flag"></i>Report</a>
		            		        </div>
		    </div>
		    <div class="text">
		    				    	<div class="infocenter-question-reporting">
			    		<h3>Please briefly explain why you feel this answer should be reported .</h3>
			    		<textarea name="infocenter-question-reporting"></textarea>
			    		<div class="clearfix"></div>
			    		<div class="loader_3"></div>
			    		<a class="color button small report">Report</a>
			    		<a class="color button small dark_button cancel">Cancel</a>
			    	</div><!-- End reported -->
		    			    	<a href="https://fluentthemes.com/wp/knowledge/questions/how-to-automatically-generates-html-table-by-javascript/#comment-11">Set it as the font John Doe Lorem ipsum dolor sit amet, cons</a>
		    </div>
		    <div class="clearfix"></div>
			<div class="loader_3"></div>
		    <div class="no_vote_more"></div>
		</div>
	</div>
</li><li rel="posts-279" class="comment" id="comment-10">
	<div class="comment-body clearfix" rel="post-279">
		<div class="avatar-img">
			<img alt='Umar Amin' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/umar-image-1-65x65.jpg'>		</div>
		<div class="comment-text">
		    <div class="author clearfix">
		    	<div class="comment-author">
		    		    		    		<a href="https://fluentthemes.com/wp/knowledge/author/">
    		    	Umar Amin    		    		</a>
    		    				    	</div>
		    				    	<div class="comment-vote">
			        	<ul class="single-question-vote">
			        					        			<li class="loader_3"></li>
			        			<li><a href="#" class="single-question-vote-up comment_vote_up vote_not_user" title="Like"><i class="icon-thumbs-up"></i></a></li>
			        			<li><a href="#" class="single-question-vote-down comment_vote_down vote_not_user" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
			        					        	</ul>
			    	</div>
			    	<span class="question-vote-result question_vote_result ">0</span>
		    			    	<div class="comment-meta">
		            <div class="date"><i class="icon-time"></i>February 26, 2017 at 4:15 am</div>
		        </div>
		        <div class="comment-reply">
		            		            	<a class="question_r_l comment_l report_c" href="#"><i class="icon-flag"></i>Report</a>
		            		        </div>
		    </div>
		    <div class="text">
		    				    	<div class="infocenter-question-reporting">
			    		<h3>Please briefly explain why you feel this answer should be reported .</h3>
			    		<textarea name="infocenter-question-reporting"></textarea>
			    		<div class="clearfix"></div>
			    		<div class="loader_3"></div>
			    		<a class="color button small report">Report</a>
			    		<a class="color button small dark_button cancel">Cancel</a>
			    	</div><!-- End reported -->
		    			    	<a href="https://fluentthemes.com/wp/knowledge/questions/php-recursive-function-not-working-right/#comment-10">Set it as the font John Doe Lorem ipsum dolor sit amet, cons</a>
		    </div>
		    <div class="clearfix"></div>
			<div class="loader_3"></div>
		    <div class="no_vote_more"></div>
		</div>
	</div>
</li><li rel="posts-277" class="comment" id="comment-9">
	<div class="comment-body clearfix" rel="post-277">
		<div class="avatar-img">
			<img alt='Randy Axy' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/randy-image-1-65x65.jpg'>		</div>
		<div class="comment-text">
		    <div class="author clearfix">
		    	<div class="comment-author">
		    		    		    		<a href="https://fluentthemes.com/wp/knowledge/author/">
    		    	Randy Axy    		    		</a>
    		    				    	</div>
		    				    	<div class="comment-vote">
			        	<ul class="single-question-vote">
			        					        			<li class="loader_3"></li>
			        			<li><a href="#" class="single-question-vote-up comment_vote_up vote_not_user" title="Like"><i class="icon-thumbs-up"></i></a></li>
			        			<li><a href="#" class="single-question-vote-down comment_vote_down vote_not_user" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
			        					        	</ul>
			    	</div>
			    	<span class="question-vote-result question_vote_result ">0</span>
		    			    	<div class="comment-meta">
		            <div class="date"><i class="icon-time"></i>February 26, 2017 at 4:10 am</div>
		        </div>
		        <div class="comment-reply">
		            		            	<a class="question_r_l comment_l report_c" href="#"><i class="icon-flag"></i>Report</a>
		            		        </div>
		    </div>
		    <div class="text">
		    				    	<div class="infocenter-question-reporting">
			    		<h3>Please briefly explain why you feel this answer should be reported .</h3>
			    		<textarea name="infocenter-question-reporting"></textarea>
			    		<div class="clearfix"></div>
			    		<div class="loader_3"></div>
			    		<a class="color button small report">Report</a>
			    		<a class="color button small dark_button cancel">Cancel</a>
			    	</div><!-- End reported -->
		    			    	<a href="https://fluentthemes.com/wp/knowledge/questions/php-login-system-not-working-correctly/#comment-9">Set it as the font John Doe Lorem ipsum dolor sit amet, cons</a>
		    </div>
		    <div class="clearfix"></div>
			<div class="loader_3"></div>
		    <div class="no_vote_more"></div>
		</div>
	</div>
</li>								</ol>
							</div>
							<div class="textcenter"><div class="pagination"><span aria-current='page' class='page-numbers current'>1</span>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/2/'>2</a>
<a class='page-numbers' href='https://fluentthemes.com/wp/knowledge/page/3/'>3</a>
<a class="next page-numbers" href="https://fluentthemes.com/wp/knowledge/page/2/"><i class="icon-angle-right"></i></a></div></div><div class="clearfix"></div>				    </div>
				</div>
							<div class="tab-inner-warp">
					<div class="tab-inner">
							<article class="question question-type-normal question_author_yes post-5 type-question status-publish hentry question-category-html question_tags-rss-reader question_tags-web" id="post-5" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/how-to-retrieve-rss-from-multiple-website/" title="How to retrieve RSS from multiple website?" rel="bookmark">How to retrieve RSS from multiple website?</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/how-to-retrieve-rss-from-multiple-website/#respond">0 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">0</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/reader87/" data-original-title="reader87" class="question-author-img tooltip-n">
									<span></span>
					<img alt='reader87' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/04/fancy-header01-83x83.jpg'>					</a>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2322 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/rss-reader/">rss-reader</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/web/">web</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 0">

						<div class="clearfix"></div>
		</div>
	</article>
	<article class="question question-type-normal question_author_yes post-171 type-question status-publish hentry question-category-css question_tags-bootstrap question_tags-css" id="post-171" itemscope="" itemtype="http://schema.org/Article">
		<h2 itemprop="name"><a itemprop="url" href="https://fluentthemes.com/wp/knowledge/questions/change-navbar-color-in-twitter-bootstrap-3/" title="Change navbar color in Twitter Bootstrap 3" rel="bookmark">Change navbar color in Twitter Bootstrap 3</a></h2>

		<span class="question-type-main question-statistic tooltip-s" data-original-title="Answers"><a href="https://fluentthemes.com/wp/knowledge/questions/change-navbar-color-in-twitter-bootstrap-3/#respond">0 </a></span>
<span class="question-report  question-statistic  tooltip-s" data-original-title="Votes"  >
						<span class="single-question-vote-result question_vote_result">1</span>

					</span>

					<div class="question-author">
									<a href="https://fluentthemes.com/wp/knowledge/author/reader87/" data-original-title="reader87" class="question-author-img tooltip-n">
									<span></span>
					<img alt='reader87' src='http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/04/fancy-header01-83x83.jpg'>					</a>
												</div>
				<div class="question-inner">
		<div class="q-meta">
		<span class="question-date" itemprop="datePublished"><i class="icon-time"></i>3 years</span>
		<span class="question-view"><i class="icon-eye-open"></i>2267 views</span>
		</div>
			<div class="clearfix"></div>
			<div class="question-desc">
				I am a novice when it comes to Bootstrap and css in general. I would like a site with a fixed sidebar, fixed top nav and main content that scrolls.
The navbar is fixed and works ok. The layout of the ...					<div class="infocenter-question-reporting">
						<h3>Please explain why do you think this question should be reported?</h3>
						<textarea name="infocenter-question-reporting"></textarea>
						<div class="clearfix"></div>
						<div class="loader_3"></div>
						<a class="color button small report">Report</a>
						<a class="color button small dark_button cancel">Cancel</a>
					</div><!-- End reported -->
							</div>



<div class="question-tags"><a href="https://fluentthemes.com/wp/knowledge/question-tag/bootstrap/">bootstrap</a>   <a href="https://fluentthemes.com/wp/knowledge/question-tag/css/">css</a></div>			<meta itemprop="interactionCount" content="UserAnswers: 0">

						<div class="clearfix"></div>
		</div>
	</article>
<div class="textcenter"><div class="pagination"></div></div>				    </div>
				</div>
					</div><!-- End page-content -->

		<div class="post-content">
								<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
		<div class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1" style="background: rgba(0, 0, 0, 0) url(http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/facts-parallex.jpg) repeat scroll center top; background-size: cover;">
			<div class="container">
				<div class="row">
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="126">
							<div class="facts-icons"> <span class="icon-user"></span>
							</div>
							<div class="fact"> <span class="percentfactor">126</span>
								<p>Happy Clients</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="226">
							<div class="facts-icons"> <span class="icon-trophy"></span>
							</div>
							<div class="fact"> <span class="percentfactor">226</span>
								<p>Happy Clients</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="336">
							<div class="facts-icons"> <span class="icon-megaphone"></span>
							</div>
							<div class="fact"> <span class="percentfactor">336</span>
								<p>Happy Clients</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="446">
							<div class="facts-icons"> <span class="icon-chat"></span>
							</div>
							<div class="fact"> <span class="percentfactor">446</span>
								<p>Chat Available</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->

				<!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
		<section id="blog" class="home-blog-parallex custom-padding">
			<div class="container">
				<!-- title-section -->
				<div class="main-heading text-center col-md-8 col-md-offset-2">
					<h2>Latest Articles</h2>
					<div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
					</div>
					<p>This is sample sub heading text of the blog section of home page template</p>
				</div>
				<!-- End title-section -->
				<!-- Row -->
				<div class="row">
					<!-- Blog Grid -->
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid post-224 post type-post status-publish format-standard has-post-thumbnail hentry category-css category-php tag-css tag-knowledge" id="post-224">
							<div class="blog-image post-img">
								<img alt='How to prevent my website from being scrolled horizontally?' src='https://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/11.jpg'>															</div>
							<div class="blog-content">
								<h5><a href="https://fluentthemes.com/wp/knowledge/how-to-prevent-my-website-from-being-scrolled-horizontally/">How to prevent my website from being scrolled horizontally?</a></h5>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis erat sed lorem dictum ullamcorper. Sed vel elit sed nunc ...</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="https://fluentthemes.com/wp/knowledge/how-to-prevent-my-website-from-being-scrolled-horizontally/#comments"><i class="icon-chat"></i>0</a>
									</li>
								</ul> <a href="https://fluentthemes.com/wp/knowledge/how-to-prevent-my-website-from-being-scrolled-horizontally/" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a>
							</div>
						</div>
					</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid post-229 post type-post status-publish format-standard has-post-thumbnail hentry category-css category-web-design tag-css tag-design" id="post-229">
							<div class="blog-image post-img">
								<img alt='What&#8217;s the best way to implement a 2D interval search in C++?' src='https://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/22.jpg'>															</div>
							<div class="blog-content">
								<h5><a href="https://fluentthemes.com/wp/knowledge/whats-the-best-way-to-implement-a-2d-interval-search-in-c/">What&#8217;s the best way to implement a 2D interval search in C++?</a></h5>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis erat sed lorem dictum ullamcorper. Sed vel elit sed nunc ...</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="https://fluentthemes.com/wp/knowledge/whats-the-best-way-to-implement-a-2d-interval-search-in-c/#comments"><i class="icon-chat"></i>0</a>
									</li>
								</ul> <a href="https://fluentthemes.com/wp/knowledge/whats-the-best-way-to-implement-a-2d-interval-search-in-c/" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a>
							</div>
						</div>
					</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid post-235 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-php tag-design tag-web" id="post-235">
							<div class="blog-image post-img">
								<img alt='Access a list within an element of a Pandas DataFrame' src='https://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/66.jpg'>															</div>
							<div class="blog-content">
								<h5><a href="https://fluentthemes.com/wp/knowledge/access-a-list-within-an-element-of-a-pandas-dataframe/">Access a list within an element of a Pandas DataFrame</a></h5>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis erat sed lorem dictum ullamcorper. Sed vel elit sed nunc ...</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="https://fluentthemes.com/wp/knowledge/access-a-list-within-an-element-of-a-pandas-dataframe/#comments"><i class="icon-chat"></i>0</a>
									</li>
								</ul> <a href="https://fluentthemes.com/wp/knowledge/access-a-list-within-an-element-of-a-pandas-dataframe/" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a>
							</div>
						</div>
					</div>
										<!-- Blog Grid -->
					<div class="clearfix"></div>
															<div class="text-center clearfix section-padding-40"> <a href="http://fluentthemes.com/wp/knowledge/blog-full-width/" class="btn btn-lg btn-primary">View All Blog Posts</a>
					</div>
					<div class="clearfix"></div>
									</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
			<!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
		<section data-stellar-background-ratio="0.1" class="testimonial-bg parallex" style="background: url(http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/testimonials-2.jpg) repeat fixed center top;">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- Blog Grid -->
					<div class="col-md-8 ">
						<div id="owl-slider" class="happy-client">
							<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client-img-two.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Jasica Alba </strong>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>
									</div>
								</div>
							</div>
														<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client-img-one.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Mohammad Yohana </strong>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>
									</div>
								</div>
							</div>
													</div>
					</div>
					<!-- Blog Grid -->
					<!-- Blog Grid -->
					<div class="col-md-4 no-padding">
						<div class="success-stories">
							<div class="main-heading text-center">
																<h2>SUCCESS STORIES</h2>
								<hr class="main">
								<p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
<br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
															</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<div class="clearfix"></div>
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Testimonials  =-=-=-=-=-=-= -->
				<!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
		<div class="custom-client-padding home-blog-parallex" id="clients">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-sm-4 col-xs-6 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_5.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_6.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2  col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_7.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_8.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_9.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/client_10.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->
				<!-- =-=-=-=-=-=-= Download Apps =-=-=-=-=-=-= -->
		<div class="parallex section-padding  our-apps text-center" style="background: url(http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/our-apps.jpg) repeat fixed center top;">
			<div class="container">
				<!-- title-section -->
				<div class="main-heading text-center">
					<h2>Download Our Apps</h2>
					<hr class="main">
				</div>
				<!-- End title-section -->
				<div class="row">
					<div class="app-content">
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/mobile.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>iOS App Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/play-store.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Google Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4  col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/windows.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Windows Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= Download Apps END =-=-=-=-=-=-= -->
				<div id="social-media">
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="social-bar">
						<ul>
							<li class="social1" >
								<a title="" href="https://www.facebook.com/">
									<img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/facebook.png"> <span>Join Us On<strong>Facebook</strong></span>
								</a>
							</li>
							<li class="social2" >
								<a title="" href="https://twitter.com/">
									<img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/twitter.png"> <span>Join Us On<strong>TWIITER</strong></span>
								</a>
							</li>
							<li class="social3" >
								<a title="" href="https://plus.google.com/">
									<img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/google-plus.png"> <span>Join Us On<strong>GOOGLE PLUS</strong></span>
								</a>
							</li>
							<li class="social4" >
								<a title="" href="https://www.linkedin.com/">
									<img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/linkedin.png"> <span>Join Us On<strong>LINKEDIN</strong></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

								<div class="clearfix"></div>
		</div>

				</div><!-- End main -->
									<aside class="col-md-4 sidebar sticky-sidebar">
											</aside><!-- End sidebar -->
								<div class="clearfix"></div>
			</div><!-- End with-sidebar-container -->
		</div><!-- End row -->
	</div><!-- End container -->
			<!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
	<footer id="footer" class="footer-area footer_dark">
		<!--Footer Upper-->
		<div class="footer-content">
			<div class="container">
				<div class="row clearfix">

					<div class="col-md-8 col-md-offset-2">
						<div class="footer-content text-center no-padding margin-bottom-40">
														<div id="text-2" class="widget widget_text">			<div class="textwidget"><p><img src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/logo-1.png" alt="Footer Logo" /><noscript><img src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/01/logo-1.png" alt="Footer Logo" /></noscript><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, illo vel.</p>
</div>
		</div>													</div>
					</div>
													<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row clearfix">
							<div class="col-lg-7 col-sm-6 col-xs-12 column">
															<div id="contact-widget-3" class="widget contact-widget"><h3 class="widget_title">Our Addres</h3>
			<div class="widget_contact">
								<ul>
										<li><i class="icon-map-marker"></i> 60 Link Road Lhr. California - 54770</li>
										<li><i class="icon-phone"></i>(042) 1234567890</li>
										<li><i class="icon-envelope-alt"></i>contant@scriptsbundle.com</li>
										<li><i class="icon-chat"></i>(042) 1234 7777</li>
									</ul>
				<div class="social-links-two margin-top-20 clearfix">
					                    <a href="#" class="facebook img-circle">
                      <span class="fa fa-facebook-f"></span>
                    </a>
					                    <a href="#" class="twitter img-circle">
                      <span class="fa fa-twitter"></span>
                    </a>
					                    <a href="#" class="google-plus img-circle">
                      <span class="fa fa-google-plus"></span>
                    </a>
					                    <a href="#" class="linkedin img-circle">
                      <span class="fa fa-pinterest-p"></span>
                    </a>
					                    <a href="#" class="linkedin img-circle">
                      <span class="fa fa-linkedin"></span>
                    </a>
					                  </div>
			</div>
		</div>														</div>
							<div class="col-lg-5 col-sm-6 col-xs-12 column">
															<div id="nav_menu-4" class="widget widget_nav_menu"><h3 class="widget_title">Our Services</h3><div class="menu-footer-menu-one-container"><ul id="menu-footer-menu-one" class="menu"><li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178"><a href="#">Web Development</a></li>
<li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179"><a href="#">Web Designing</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a href="#">Android Development</a></li>
<li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a href="#">Theme Development</a></li>
<li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a href="#">IOS Development</a></li>
</ul></div></div>														</div>
							</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row clearfix">
							<div class="col-lg-7 col-sm-6 col-xs-12 column">
															<div id="nav_menu-5" class="widget widget_nav_menu"><h3 class="widget_title">What We Provide</h3><div class="menu-footer-menu-two-container"><ul id="menu-footer-menu-two" class="menu"><li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="#">Theme Development</a></li>
<li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="#">Android Development</a></li>
<li id="menu-item-187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a href="#">IOS Development</a></li>
<li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="#">Web Designing</a></li>
<li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186"><a href="#">Web Development</a></li>
</ul></div></div>														</div>
							<div class="col-lg-5 col-sm-6 col-xs-12 column">
															<div id="nav_menu-6" class="widget widget_nav_menu"><h3 class="widget_title">Site Links</h3><div class="menu-footer-menu-three-container"><ul id="menu-footer-menu-three" class="menu"><li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="https://fluentthemes.com/wp/knowledge/login/">Login Page</a></li>
<li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-192"><a href="http://fluentthemes.com/wp/knowledge/questions/">Listing Page</a></li>
<li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="https://fluentthemes.com/wp/knowledge/blog-right-sidebar/">Blog Page</a></li>
<li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="https://fluentthemes.com/wp/knowledge/contact/">Contact Page</a></li>
<li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><a href="https://fluentthemes.com/wp/knowledge/terms-of-services/">Terms Page</a></li>
</ul></div></div>														</div>
							</div>
							</div>
											</div><!-- End row -->
				</div><!-- End container -->
			</div><!-- End footer -->
			<!--Footer Bottom-->
			<div class="footer-copyright ">
			<div class="auto-container clearfix">
				<!--Copyright-->
				<div class="copyright text-center">Copyright 2017 knowledge theme | <a href="#"> knowledge</a></div>
			</div>
		</div>
	</footer><!-- End footer -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>

	<script type="text/javascript">
	jQuery(document).ready(function() {
	jQuery('#live-search #s').liveSearch({url: 'https://fluentthemes.com/wp/knowledge/index.php?ajax=1&s='});
	});
	</script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/fluentthemes.com\/wp\/knowledge\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.9.1'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/html5.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/modernizr.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.tipsy.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/tabs.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.prettyPhoto.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.scrollTo.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.nav.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/tags.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/bootstrap.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.countTo.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.waypoints.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/carousel.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.stellar.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/bootstrap-dropdownhover.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/scripts/shCore.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/scripts/shBrushPhp.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var template_url = "https:\/\/fluentthemes.com\/wp\/knowledge\/wp-content\/themes\/infocenter";
var products_excerpt_title = [""];
var go_to = "Go to...";
var ask_error_text = "Please fill the required field.";
var ask_error_captcha = "The captcha is incorrect, please try again.";
var captcha_answer = "Cairo";
var add_question = "https:\/\/fluentthemes.com\/wp\/knowledge\/add-question\/";
var ask_error_empty = "Fill in all the required fields.";
var no_vote_more = "Sorry, you cannot vote on the same Question more than once.";
var no_vote_user = "Rating is available to members only.";
var no_vote_more_comment = "Sorry, you cannot vote on the same comment more than once.";
var v_get_template_directory_uri = "https:\/\/fluentthemes.com\/wp\/knowledge\/wp-content\/themes\/infocenter";
var sure_report = "Are you sure you want to Report?";
var sure_delete = "Are you sure you want to delete the Question?";
var sure_delete_post = "Are you sure you want to delete the post?";
var reported_question = "We are reported for the Question!";
var choose_best_answer = "Select as Best Answer";
var cancel_best_answer = "Cancel the Best Answer";
var best_answer = "Best Answer";
var follow_question_attr = "Follow the Question";
var unfollow_question_attr = "Unfollow the Question";
var follow_question = "Follow";
var unfollow_question = "Unfollow";
var admin_url = "https:\/\/fluentthemes.com\/wp\/knowledge\/wp-admin\/admin-ajax.php";
var select_file = "Select file";
var browse = "Browse";
var question_tab = "fluentthemes.com";
/* ]]> */
</script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/custom-owl.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://fluentthemes.com/wp/knowledge/wp-content/themes/infocenter/js/jquery.livesearch.js?ver=4.9.10'></script>

</body>
</html>




    <section>

      <h2 class="question"><%=questions[i].question%></h2>
      <span>Question posted by:<%=users.local.username%></span>
      <h4 class="comment"contenteditable ="true" name="comment" >enter comment</h4>
      <button type="button" class="commentButton"name="button">Comment</button>
      <% for(let j=0;j<questions[i].comment.length; j++){%>
      <h4><%=questions[i].comment[j]%></h4>
      <% } %>
    </section>

 <section class="formContainer">


 <section class="form">
   <form role="search" method="Post" id="searchform" class="form-style form-style-2" action="/questions">
     <p>
     <input type="text"  value="" name="question" id="s"  autocomplete="off" placeholder="Question" />

     <button type="submit" id="searchsubmit" class="ask-question-new-class">
     <span class="color button small publish-question">Post Question</span>
     </button>
     </p>
   </form>

 </section>
   </section>
